.homePanel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContainer {
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    width: 70%;
    flex-wrap: wrap;

}

.homeContainer-info {
    width: 17rem;
}

.homeContainer-info > h1 {
    color: white;
    font-size: 3.5rem;
}

.homeContainer-info > h1 > span {
    color: rgb(26,207,27);
}

.homeContainer-info  button {
    padding: 1rem 2.75rem;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: rgba(26,207,27, 1);
    margin-top: 2rem;
    cursor: pointer;
    transition: 0.2s;
}

.homeContainer-info > button:hover {
    background-color: rgba(26,207,27, 0.7);
}

.homeContainer-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeContainer-profileImage{
    background-color: white;
    border-radius: 999px;
    height: 20rem;
    width: 20rem;
}

.homeContainer-profile > img {
    object-fit: cover;
    border-radius: 999px;
    width: 30rem;
}

.profileLinksContainer {
    margin-top: 1rem;
    color: white;
}

.profileLinksContainer {
    margin-top: 1rem;
    color: white;
}

#githubIcon {
    margin-right: 1rem;
}

#githubIcon, #linkedInIcon {
    cursor: pointer;
}

#githubIcon:hover {
    color: rgb(26,207,27);
}

#linkedInIcon:hover {
    color: rgb(26,207,27);
}

#light .homeContainer-info > h1, #light .profileLinksContainer {
    color: #0C0C0C;
}

@media (max-width: 1100px) {
   .homeContainer {
       width: 95%;
   }
}

@media (max-width: 768px) {
    .homeContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .homeContainer-profileImage {
        margin-top: 1rem;
    }

    .homeContainer-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .homeContainer-info > h1 {
        font-size: 2rem;
    }

    .homeContainer-profileImage {
        width: 15rem;
        height: 15rem;
    }
}


