.aboutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.aboutContainer > h1 {
    color: rgb(26,207,27);
    border-bottom: 4px solid rgb(26,207,27);
}

.aboutContainer-content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2rem;
    align-items: center;
}

.aboutContainer-imageBox {
    width: 17.5rem;
    height: 25rem;
    background-color: white;
    border-radius: 5px;
}

.aboutContainer-textBox {
    width: 30rem;
    padding-left: 10%;
}

.aboutContainer-textBox > p {
    color: white;
    margin-top: 2rem;
    font-size: 1rem;
}

#light .aboutContainer {
    background-color: white;
}

#light .aboutContainer-textBox > p {
    color: #0C0C0C;
}

@media (max-width: 768px) {
    .aboutContainer-content {
        flex-direction: column;
    }

    .aboutContainer-textBox {
        width: 90%;
        padding-left: 0;
        text-align: center;
    }
}