.navBar{
    position: fixed;
    width: 100%;
    background-color: #1F1F1F;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.navBar > ul {
    display: flex;
    align-items: center;
}

.navBar > ul > li {
    color: white;
    font-weight: 600;
    margin: 0 1rem;
    padding-bottom: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-bottom: 2px solid #1F1F1F;
}

.navBar > ul > li:hover {
    border-bottom: 2px solid rgb(26,207,27);
}

#light .navBar {
    background-color: white;
}

#light .navBar > ul > li {
    color: #0C0C0C;
    border-bottom: 2px solid white;
}

#light .navBar > ul > li:hover {
    border-bottom: 2px solid rgb(26,207,27);
}

#light .navBar > ul > li:first-child {
    border-bottom: 2px solid rgb(26,207,27);
}
